<!doctype html>
{% extends "navbarHappy.html" %}

{% block head %}
<html class="no-js" lang="zxx">

{% load static %}

<head>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Abril+Fatface"/>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> Happy Space </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">

<!-- CSS here -->
    <link rel="stylesheet" href="{% static 'happy/cssHappy/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'happy/cssHappy/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'happy/cssHappy/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'happy/cssHappy/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'happy/cssHappy/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'happy/cssHappy/slick.css' %}">
    <link rel="stylesheet" href="{% static 'happy/cssHappy/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'happy/cssHappy/styleHappy.css' %}">
    <link rel="stylesheet" href="{% static 'happy/cssHappy/responsive.css' %}">  
</head>

<body data-bubble-img="{% static 'happy/imgHappy/tk1/circle.png' %}">

<!-- Preloader Start -->
    <!-- slider Area Start-->
    <div class="slider-area ">
        <!-- Mobile Menu -->
        <div class="single-slider slider-height2 d-flex align-items-center" data-background="{% static 'happy/imgHappy/tk1/happy.png' %}">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap">
                            <h2>Happy Space!</h2>
                            <br></br>
                            <p>This is a relaxing space to clear your mind after went through the day.<br>
                            There will be various categories of entertainment that you can do at home.<br>
                            The categories are music, movies, and games. Each category will be presented<br>
                            with articles containing recommendations along with a brief description.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider Area End-->

{% block content %}
{% endblock %}
                <div class="col-lg-4">
                    <div class="blog_right_sidebar">
                        <aside class="single_sidebar_widget post_category_widget">
                            <h4 class="widget_title">Category</h4>
                            <ul class="list cat-list">
                                <li>
                                    <a href="{% url 'happy:home' %}" class="d-flex">
                                        <p>What to do?</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'happy:watch' %}" class="d-flex">
                                        <p>What to watch?</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'happy:music' %}" class="d-flex">
                                        <p>Music</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'happy:games' %}" class="d-flex">
                                        <p>Games</p>
                                    </a>
                                </li>
                            </ul>
                        </aside>

                        <aside class="single_sidebar_widget search_widget">
                            <a class="d-flex">
                                <p>What is your interest?</p>
                            </a>
                            <form action="{% url 'happy:searchKeyword' %}" method="GET">
                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <input id="search_keyword" name="search_keyword" type="text" class="form-control" placeholder='Search Keyword'
                                            onfocus="this.placeholder = ''"
                                            onblur="this.placeholder = 'Search Keyword'">
                                        <div class="input-group-append">
                                            <button class="btns" type="button"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                    type="submit">Search</button>
                            </form>
                            <br>
                            <a class="d-flex">
                                <p>Try to search:</p>
                            </a>
                            <div style="display:flex; flex-wrap: wrap; justify-content: space-around;" class="flex-container">
                                <div id="keyword-flex" style = "font-family: 'Josefin Sans'; font-size: 15px; color: black; border-style: outset; margin: 6px;" class="flex-item">netflix </div>
                                <div id="keyword-flex" style = "font-family: 'Josefin Sans'; font-size: 15px; color: black; border-style: outset; margin: 6px;" class="flex-item"> korea </div>
                                <div id="keyword-flex" style = "font-family: 'Josefin Sans'; font-size: 15px; color: black; border-style: outset; margin: 6px;" class="flex-item"> drama </div>
                                <div id="keyword-flex" style = "font-family: 'Josefin Sans'; font-size: 15px; color: black; border-style: outset; margin: 6px;" class="flex-item"> games </div>
                                <div id="keyword-flex" style = "font-family: 'Josefin Sans'; font-size: 15px; color: black; border-style: outset; margin: 6px;" class="flex-item"> series </div>
                                <div id="keyword-flex" style = "font-family: 'Josefin Sans'; font-size: 15px; color: black; border-style: outset; margin: 6px;" class="flex-item"> anime </div>
                                <div id="keyword-flex" style = "font-family: 'Josefin Sans'; font-size: 15px; color: black; border-style: outset; margin: 6px;" class="flex-item"> wibu </div>
                                <div id="keyword-flex" style = "font-family: 'Josefin Sans'; font-size: 15px; color: black; border-style: outset; margin: 6px;" class="flex-item"> kpop </div>
                                <div id="keyword-flex" style = "font-family: 'Josefin Sans'; font-size: 15px; color: black; border-style: outset; margin: 6px;" class="flex-item"> tiktok </div>
                                <div id="keyword-flex" style = "font-family: 'Josefin Sans'; font-size: 15px; color: black; border-style: outset; margin: 6px;" class="flex-item"> social distancing </div>
                                <div id="keyword-flex" style = "font-family: 'Josefin Sans'; font-size: 15px; color: black; border-style: outset; margin: 6px;" class="flex-item"> show </div>
                                <div id="keyword-flex" style = "font-family: 'Josefin Sans'; font-size: 15px; color: black; border-style: outset; margin: 6px;" class="flex-item"> boyband </div>
                                <div id="keyword-flex" style = "font-family: 'Josefin Sans'; font-size: 15px; color: black; border-style: outset; margin: 6px;" class="flex-item"> fantasy </div>
                                <div id="keyword-flex" style = "font-family: 'Josefin Sans'; font-size: 15px; color: black; border-style: outset; margin: 6px;" class="flex-item"> romance </div>
                                <div id="keyword-flex" style = "font-family: 'Josefin Sans'; font-size: 15px; color: black; border-style: outset; margin: 6px;" class="flex-item"> viral </div>
                                <div id="keyword-flex" style = "font-family: 'Josefin Sans'; font-size: 15px; color: black; border-style: outset; margin: 6px;" class="flex-item"> 2020 </div>
                                <div id="keyword-flex" style = "font-family: 'Josefin Sans'; font-size: 15px; color: black; border-style: outset; margin: 6px;" class="flex-item"> dance </div>
                                <div id="keyword-flex" style = "font-family: 'Josefin Sans'; font-size: 15px; color: black; border-style: outset; margin: 6px;" class="flex-item"> podcast </div>
                                <div id="keyword-flex" style = "font-family: 'Josefin Sans'; font-size: 15px; color: black; border-style: outset; margin: 6px;" class="flex-item"> quarantine </div>
                                <div id="keyword-flex" style = "font-family: 'Josefin Sans'; font-size: 15px; color: black; border-style: outset; margin: 6px;" class="flex-item"> watching </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!-- JS here -->
        <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
        <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
        <script>
        $(document).ready(function(){
            $("input").focus(function(){
                $(this).css("background-color", "#ffe8d6");
            });
            $("input").blur(function(){
                $(this).css("background-color", "white");
            });
            $(".flex-item").mouseover(function(){
                $(this).css("border-style", "inset");
            });
            $(".flex-item").mouseout(function(){
                $(this).css("border-style", "outset");
            });
        });
        </script>
        <!-- Comment section -->
        <script type="text/javascript"> DJANGO_STATIC_URL = '{{ STATIC_URL }}'; </script>
        <script src="{% static 'happy/jsHappy/comment.js' %}"></script>
        <script src="{% static 'happy/jsHappy/commentKdrama.js' %}"></script>
        <script src="{% static 'happy/jsHappy/anime.js' %}"></script>
        <script src="{% static 'happy/jsHappy/romantic.js' %}"></script>
        <script src="{% static 'happy/jsHappy/tiktok.js' %}"></script>
        <script src="{% static 'happy/jsHappy/kpop.js' %}"></script>
        <script src="{% static 'happy/jsHappy/podcast.js' %}"></script>
        <script src="{% static 'happy/jsHappy/games1.js' %}"></script>
        <script src="{% static 'happy/jsHappy/games2.js' %}"></script>
		<!-- Jquery, Popper, Bootstrap -->
        <script src="{% static 'happy/jsHappy/vendor/jquery-1.12.4.min.js' %}"></script>
        <script src="{% static 'happy/jsHappy/bootstrap.min.js' %}"></script>
		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="{% static 'happy/jsHappy/slick.min.js' %}"></script>
        <script src="{% static 'happy/jsHappy/jquery.slicknav.min.js' %}"></script>
		<!-- Scrollup, nice-select, sticky -->
        <script src="{% static 'happy/jsHappy/jquery.scrollUp.min.js' %}"></script>
        <script src="{% static 'happy/jsHappy/jquery.sticky.js' %}"></script>
		<!-- Jquery Plugins, main Jquery -->	
        <script src="{% static 'happy/jsHappy/plugins.js' %}"></script>
        <script src="{% static 'happy/jsHappy/main.js' %}"></script>
</body>
</html>

{% endblock %}