<!DOCTYPE html>
{% extends "baseHappy.html" %}

    {% block content %}

    {% load static %}
   <!--================Blog Area =================-->
   <section class="blog_area single-post-area section-padding">
      <div class="container">
        <a class="d-inline-block">
            <h2>Top Free Online Games To Play In Quarantine With Friends</h2>
         </a>
         <div>
         <p>It’s easy to lose touch with friends and family now that all communication needs to be done virtually.
         Because many of us have spare time on our hands, it can be fun to have a good old fashioned game night with your 
         family, housemates or distant quarantined friends. Here are some games you can play to alleviate boredom and reconnect.</p>
         </div>
        <br></br>
         <div class="row">
            <div class="col-lg-8 posts-list">
               <div class="single-post">
                  <div class="feature-img">
                    <img class="img-fluid" src="{% static 'happy/imgHappy/tk1/codenames.jpg' %}" alt="">
                  </div>
                  <div class="blog_details">
                    <h2 id="h2-blog">Codenames Online</h2>
                    <p class="excert">
                        Players are split into two teams – Red and Blue – with one player on each team being a spymaster who provides the clues to the words they want their respective teams to figure out. Spymasters can’t give teammates the exact word that’s on the screen, but they can provide one-word synonyms or clues. Correct guesses mean that the team gets to guess more words, until they win or until they guess incorrectly. Just make sure not to guess the black card, though, as that spells an instant loss!
                    </p>
                    <br></br>
                  </div>
               </div>

               <div class="single-post">
                  <div class="feature-img">
                    <img class="img-fluid" src="{% static 'happy/imgHappy/tk1/houseparty.jpg' %}" alt="">
                  </div>
                  <div class="blog_details">
                    <h2 id="h2-blog">Houseparty</h2>
                    <p class="excert">
                        With most people working from home on their laptops or desktops, it’s only natural that a game that can be played on those devices or mobile is available. Lo and behold, the existence of Houseparty. This app lets groups of friends hang out in front of the camera while playing a slew of in-app games to shake up your regular teleconference. Simply invite a friend or up to 7 others over, pick a game, and start playing.
                    </p>
                    <br></br>
                  </div>
               </div>

               <div class="single-post">
                  <div class="feature-img">
                    <img class="img-fluid" src="{% static 'happy/imgHappy/tk1/skribbl.png' %}" alt="">
                  </div>
                  <div class="blog_details">
                    <h2 id="h2-blog">Skribbl.io</h2>
                    <p class="excert">
                        If any of your friends don’t have access to a webcam for some reason, perhaps Skribbl.io might be a great alternative. This browser-based game is, simply put, another drawing-based guessing game, but what this does better than the one seen in Houseparty is that it comes with a ton of more options for players to make sketches with. And if you have something like a Wacom while playing this game, you’re definitely at an advantage.
                    </p>
                    <br></br>
                  </div>
               </div>

               <div class="single-post">
                  <div class="feature-img">
                    <img class="img-fluid" src="{% static 'happy/imgHappy/tk1/werewolf.png' %}" alt="">
                  </div>
                  <div class="blog_details">
                    <h2 id="h2-blog">Werewolf Telegram</h2>
                    <p class="excert">
                        Arguably one of the most cost-effective games to play on this list, Werewolf on Telegram will probably give you the most bang for your buck, simply because it allows the most number of people to join. What makes this game so much more streamlined than the traditional tabletop version is that there’s a bot that acts as the moderator, which performs actions such as role assignment instantly, instead of having a human moderator do it. Everything else, of course, is identical, which is a good thing in this case.
                    </p>
                    <br></br>
                  </div>
               </div>

               <div class="single-post">
                  <div class="feature-img">
                    <img class="img-fluid" src="{% static 'happy/imgHappy/tk1/amongus.jpg' %}" alt="">
                  </div>
                  <div class="blog_details">
                    <h2 id="h2-blog">Among US</h2>
                    <p class="excert">
                        Among Us is a multiplayer game where between four and 10 players are dropped onto an alien spaceship. Each player is designated a private role as a “crewmate” or “impostor.”
                        Crewmates must run around the ship and try to complete a set of tasks while trying to root out and avoid getting killed by the one or several impostors. Players can be voted off the ship, so each game becomes one of survival: Successfully vote off the impostors, or complete all your tasks to win. It’s simple, cartoony and easy enough for a five-year-old to play on an iPhone.<br>
                        <br>
                        Among Us is very different than other highly social video games like Fortnite, for instance. It’s more similar to a board game like Monopoly, or a party game like Werewolf, where players need to read personalities and determine if they’re being lied to in order to win. The large group size makes it easy to invite new friends into the group.
                    </p>
                    <br></br>
                  </div>
               </div>

               <div class="single-post">
                  <div class="feature-img">
                    <img class="img-fluid" src="{% static 'happy/imgHappy/tk1/zepeto.jpg' %}" alt="">
                  </div>
                  <div class="blog_details">
                    <h2 id="h2-blog">Zepeto</h2>
                    <p class="excert">
                        Have you tried socializing with your friends through Zepeto? Well, it’s an amazing app that provides fashionable millennials a place where they can express themselves through customizable avatars.
                        <br>
                        Zepeto is a social app that allows users to build their own 3D avatars, interact with their friends using their characters, and play games to earn coins. With millions of item choices, from trendy clothing to exquisite accessories, you can personalize your character into the prettiest reimagined version of yourself. If you really like styling yourself, prepare to be a competitive one so you can purchase different outfits and decorations to your room.
                        What’s more, you can invite your friends to join Zepeto so you’ll have a virtual place to hang out! You can meet and have parties on the beach or whatever background you prefer. We’re telling you, it is really cute and timely for this long quarantine season!
                    </p>
                    <br></br>
                  </div>
               </div>


               <div class="comments-area">

                  {% if data.count == 0 %}

                  <h4> No comments yet! </h4>

                  {% else %}

                  <h4> {{ data.count }} Comments </h4>

                  <div id="commentSection-Games2">
                     <!-- json -->
                  </div>

                  {% endif %}

               </div>

               {% if user.is_authenticated %}

               <div class="comment-form">
                  <h4>Leave a comment</h4>
                  <form class="form-contact comment_form" method="POST" id="commentForm">
                  {% csrf_token %}
                     <div class="row form-group">
                        <div class="col-12">
                           {{ form.content }}
                        </div>
                     </div>

                     <div class="form-group">
                        <button id="createComment-Games2" type="submit" class="button button-contactForm btn_1 boxed-btn">Send Message</button>
                     </div>
                  </form>
               </div>
               {% else %}
                  <h4> Try to log in or sign up to be able to leave a comment. </h4>
               {% endif %}
            </div>
{% endblock %}   
