<!DOCTYPE html>
{% extends "baseHappy.html" %}

    {% block content %}

    {% load static %}
    <!--================Blog Area =================-->
    <section class="blog_area section-padding">
        <div class="container">
        <a class="d-inline-block">
            <h2 id="h2-blog">What to play in quarantine?</h2>
        </a>
        <br></br>
        <br></br>
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">
                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="{% static 'happy/imgHappy/tk1/games1.jpg' %}" alt="">
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="{% url 'happy:games1' %}">
                                    <h2 id="h2-blog">Games To Play During Quarantine</h2>
                                </a>
                            </div>
                        </article>

                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="{% static 'happy/imgHappy/tk1/games.jpeg' %}" alt="">
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="{% url 'happy:games2' %}">
                                    <h2 id="h2-blog">Top Free Online Games To Play In Quarantine With Friends</h2>
                                </a>
                            </div>
                        </article>

                        <article class="blog_item">
                            <div class="blog_item_img">
                                <iframe width="768" height="450" src="https://www.youtube.com/embed/GGzTg47t2dE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block">
                                    <h2 id="h2-blog">25 FUN GAMES TO PLAY AT HOME</h2>
                                </a>
                            </div>
                        </article>

                        <article class="blog_item">
                            <div class="blog_item_img">
                                <iframe width="768" height="450" src="https://www.youtube.com/embed/KnWUvpMQOpw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>                            
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block">
                                    <h2 id="h2-blog">20 Fun Games to Play on Zoom | Easy Virtual Zoom Games for Families</h2>
                                </a>
                            </div>
                        </article>
                    </div>
                </div>
{% endblock %}