<!DOCTYPE html>
{% extends "baseHappy.html" %}

    {% block content %}

    {% load static %}
   <!--================Blog Area =================-->
   <section class="blog_area single-post-area section-padding">
      <div class="container">
        <a class="d-inline-block">
            <h2>The Best K-Pop Comebacks in 2020 So Far</h2>
        </a>
        <div>
            <p>K-pop industry is a well-oiled machine, constantly rolling out captivating comebacks one 
            after the other every month—if you’re an avid K-popper (or just a casual listener), chances are,
            you’re constantly spoiled for choice when it comes to your favourites dropping new tunes left and right.
            Here is a list of the best comebacks so far by the gals and pals of the K-pop circuit!</p>
        </div>
        <br></br>
        <div class="row">
            <div class="col-lg-8 posts-list">
               <div class="single-post">
                  <div class="feature-img">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/UuV2BmJ1p_I" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> 
                  </div>
                  <div class="blog_details">
                    <h2 id="h2-blog">Zico - ‘Any song’</h2>
                    <p class="excert">
                        Everyone was probably jamming to this one with their grandmothers—while doing that viral dance.
                    </p>
                    <br></br>
                  </div>
               </div>

               <div class="single-post">
                  <div class="feature-img">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/2OvyA2__Eas" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <div class="blog_details">
                    <h2 id="h2-blog">NCT 127 - ‘Kick It’</h2>
                    <p class="excert">
                        The nine members of NCT 127 channel their inner Bruce Lee in this hip hop comeback.
                    </p>
                    <br></br>
                  </div>
               </div>

               <div class="single-post">
                  <div class="feature-img">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/fE2h3lGlOsk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <div class="blog_details">
                    <h2 id="h2-blog">Itzy - ‘Wannabe’</h2>
                    <p class="excert">
                        'Wannabe' is ridiculously catchy and four months on, the song is still charting on Korean music charts bringing the 'Itzy Fever' to an all-time high. We knew it was a goodie when Ryujin busted out those iconic shoulder moves (you might risk a potential sprain if you're attempting it).
                    </p>
                    <br></br>
                  </div>
               </div>

               <div class="single-post">
                  <div class="feature-img">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/k8gx-C7GCGU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <div class="blog_details">
                    <h2 id="h2-blog">Day6 -‘Zombie’</h2>
                    <p class="excert">
                        The band tackles mental health in an increasingly work-obsessed society with this melancholic pop-rock number.
                    </p>
                    <br></br>
                  </div>
               </div>

               <div class="single-post">
                  <div class="feature-img">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/TQTlCHxyuu8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <div class="blog_details">
                    <h2 id="h2-blog">Stray Kids - ‘God’s Menu’</h2>
                    <p class="excert">
                        Stray Kids returns with a bold hard-hitting track that promises anyone who comes to their 'restaurant' (aka come across their group) will be very impressed by the 'food' (their music). Talk about a hard sell!
                    </p>
                    <br></br>
                  </div>
               </div>

               <div class="single-post">
                  <div class="feature-img">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/ioNng23DkIM" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  </div>
                  <div class="blog_details">
                    <h2 id="h2-blog">Blackpink - ‘How You Like That’</h2>
                    <p class="excert">
                        Girl group royalty, Blackpink stepped back in the K-pop arena with a smouldering trap single that exudes peak femme fatale energy.
                    </p>
                    <br></br>
                  </div>
               </div>

               <div class="single-post">
                    <a class="d-inline-block" href="https://www.buro247.my/culture/music/best-k-pop-comebacks-of-2020.html">
                        <p>Click reference here for more!</p>
                    </a>
                    <br></br>
               </div>

               <div class="comments-area">

                  {% if data.count == 0 %}

                  <h4> No comments yet! </h4>

                  {% else %}

                  <h4> {{ data.count }} Comments </h4>

                  <div id="commentSection-Kpop">
                     <!-- json -->
                  </div>

                  {% endif %}

               </div>

               {% if user.is_authenticated %}

               <div class="comment-form">
                  <h4>Leave a comment</h4>
                  <form class="form-contact comment_form" method="POST" id="commentForm">
                  {% csrf_token %}
                     <div class="row form-group">
                        <div class="col-12">
                           {{ form.content }}
                        </div>
                     </div>

                     <div class="form-group">
                        <button id="createComment-Kpop" type="submit" class="button button-contactForm btn_1 boxed-btn">Send Message</button>
                     </div>
                  </form>
               </div>
               {% else %}
                  <h4> Try to log in or sign up to be able to leave a comment. </h4>
               {% endif %}
            </div>
{% endblock %}   
