<!DOCTYPE html>
{% extends "baseHappy.html" %}

    {% block content %}

    {% load static %}
   <!--================Blog Area =================-->
   <section class="blog_area single-post-area section-padding">
      <div class="container">
         <a class="d-inline-block">
            <h2>Top 10 Netflix series to watch in 2020</h2>
         </a>
         <div>
            <p>It’s hard to keep up with every show that drops on Netflix – every time we open the app, 
            it seems there’s another new box set waiting to be binged. If you’re struggling to decide what 
            to watch next, look no further – we’ve got you covered with our list of the best Netflix shows available 
            to watch right now!</p>
         <br></br>

         <div class="row">
            <div class="col-lg-8 posts-list">
               <div class="single-post">
                  <div class="feature-img">
                     <img class="img-fluid" src="{% static 'happy/imgHappy/tk1/stranger.jpg' %}" alt="">
                  </div>
                  <div class="blog_details">
                     <h2 id="h2-blog">1. Stranger Things</h2>
                     <p class="excert">
                        2016 | 16+ | 3 Seasons | US TV Shows<br>
                        Starring: Winona Ryder, David Harbour, Finn Wolfhard<br>
                        Creators: The Duffer Brother
                     </p>
                     <div class="quote-wrapper">
                        <div class="quotes">
                           When a young boy vanishes, a small town uncovers a mystery involving secret experiments, terrifying supernatural forces and one strange little girl.
                        </div>
                     </div>
                     <br></br>
                  </div>
               </div>

               <div class="single-post">
                  <div class="feature-img">
                     <img class="img-fluid" src="{% static 'happy/imgHappy/tk1/teotfw.jpg' %}" alt="">
                  </div>
                  <div class="blog_details">
                     <h2 id="h2-blog">2. The End of The F***ing World</h2>
                     <p class="excert">
                        2017 | 18+ | 2 Seasons | TV Dramas<br>
                        Starring: Jessica Barden, Alex Lawther, Naomi Ackie<br>
                     </p>
                     <div class="quote-wrapper">
                        <div class="quotes">
                           A budding teen psychopath and a rebel hungry for adventure embark on a star-crossed road trip in this darkly comic series based on a graphic novel.
                        </div>
                     </div>
                     <br></br>
                  </div>
               </div>

               <div class="single-post">
                  <div class="feature-img">
                     <img class="img-fluid" src="{% static 'happy/imgHappy/tk1/moneyheist.png' %}" alt="">
                  </div>
                  <div class="blog_details">
                     <h2 id="h2-blog">3. Money Heist</h2>
                     <p class="excert">
                        2017 | 18+ | 4 Seasons | Spanish TV Shows<br>
                        Starring:Úrsula Corberó, Álvaro Morte, Itziar Ituño<br>
                        Creators: Álex Pina
                     </p>
                     <div class="quote-wrapper">
                        <div class="quotes">
                           Eight thieves take hostages and lock themselves in the Royal Mint of Spain as a criminal mastermind manipulates the police to carry out his plan.
                        </div>
                     </div>
                     <br></br>
                  </div>
               </div>

               <div class="single-post">
                  <div class="feature-img">
                     <img class="img-fluid" src="{% static 'happy/imgHappy/tk1/thewitcher.jpg' %}" alt="">
                  </div>
                  <div class="blog_details">
                     <h2 id="h2-blog">4. The Witcher</h2>
                     <p class="excert">
                        2019 | 18+ | 1 Season | TV Dramas <br>
                        Starring: Henry Cavill, Anya Chalotra, Freya Allan<br>
                        Creators: Schmidt Hissrich
                     </p>
                     <div class="quote-wrapper">
                        <div class="quotes">
                           Geralt of Rivia, a mutated monster-hunter for hire, journeys toward his destiny in a turbulent world where people often prove more wicked than beasts.
                        </div>
                     </div>
                     <br></br>
                  </div>
               </div>

               <div class="single-post">
                  <div class="feature-img">
                     <img class="img-fluid" src="{% static 'happy/imgHappy/tk1/locke.jpg' %}" alt="">
                  </div>
                  <div class="blog_details">
                     <h2 id="h2-blog">5. Locke n Key</h2>
                     <p class="excert">
                        2020 | 18+ | 1 Seasons | TV Dramas <br>
                        Starring: Darby Stanchfield, Connor Jessup, Emilia Jones<br>
                     </p>
                     <div class="quote-wrapper">
                        <div class="quotes">
                           After their dad's murder, three siblings move with their mom to his ancestral estate, where they discover magical keys that unlock powers — and secrets.
                        </div>
                     </div>
                     <br></br>
                  </div>
               </div>

               <div class="single-post">
                  <div class="feature-img">
                     <img class="img-fluid" src="{% static 'happy/imgHappy/tk1/f.jpg' %}" alt="">
                  </div>
                  <div class="blog_details">
                     <h2 id="h2-blog">6. Blackmirror</h2>
                     <p class="excert">
                        2011 | 18+ | 5 Seasons | Cyberpunk <br>
                        Starring: Jesse Plemons, Cristin Milioti, Jimmi Simpson<br>
                        Creators: Charlie Brooker
                     </p>
                     <div class="quote-wrapper">
                        <div class="quotes">
                           This sci-fi anthology series explores a twisted, high-tech near-future where humanity's greatest innovations and darkest instincts collide.
                        </div>
                     </div>
                     <br></br>
                  </div>
               </div>

               <div class="single-post">
                  <div class="feature-img">
                     <img class="img-fluid" src="{% static 'happy/imgHappy/tk1/dark.png' %}" alt="">
                  </div>
                  <div class="blog_details">
                     <h2 id="h2-blog">7. DARK</h2>
                     <p class="excert">
                        2017 | 18+ | 3 Seasons | TV Dramas<br>
                        Starring: Louis Hofmann, Oliver Masucci, Jördis Triebel<br>
                        Creators: Baran bo Odar, Jantje Friese
                     </p>
                     <div class="quote-wrapper">
                        <div class="quotes">
                           A missing child sets four families on a frantic hunt for answers as they unearth a mind-bending mystery that spans three generations.
                        </div>
                     </div>
                     <br></br>
                  </div>
               </div>

               <div class="single-post">
                  <div class="feature-img">
                     <img class="img-fluid" src="{% static 'happy/imgHappy/tk1/sabrina.jpg' %}" alt="">
                  </div>
                  <div class="blog_details">
                     <h2 id="h2-blog">8. Chilling Adventures of Sabrina</h2>
                     <p class="excert">
                        2018 | 18+ | 3 Seasons | US TV Shows<br>
                        Starring: Kiernan Shipka, Ross Lynch, Miranda Otto<br>
                     </p>
                     <div class="quote-wrapper">
                        <div class="quotes">
                           Magic and mischief collide as half-human, half-witch Sabrina navigates between two worlds: mortal teen life and her family's legacy, the Church of Night.
                        </div>
                     </div>
                     <br></br>
                  </div>
               </div>

               <div class="single-post">
                  <div class="feature-img">
                     <img class="img-fluid" src="{% static 'happy/imgHappy/tk1/elite.jpg' %}" alt="">
                  </div>
                  <div class="blog_details">
                     <h2 id="h2-blog">9. ELITE</h2>
                     <p class="excert">
                        2018 | 18+ | 3 Seasons | Spanish TV Shows<br>
                        Starring: Danna Paola, Itzan Escamilla, Miguel Bernardeau<br>
                        Creators: Carlos Montero, Darío Madrona
                     </p>
                     <div class="quote-wrapper">
                        <div class="quotes">
                           When three working-class teens enroll in an exclusive private school in Spain, the clash between them and the wealthy students leads to murder.
                        </div>
                     </div>
                     <br></br>
                  </div>
               </div>

               <div class="single-post">
                  <div class="feature-img">
                     <img class="img-fluid" src="{% static 'happy/imgHappy/tk1/thesociety.jpg' %}" alt="">
                  </div>
                  <div class="blog_details">
                     <h2 id="h2-blog">10. The Society</h2>
                     <p class="excert">
                        2019 | 18+ | 1 Season | TV Dramas<br>
                        Starring: Kathryn Newton, Gideon Adlon, Sean Berdy<br>
                        Creators: :Christopher Keyser
                     </p>
                     <div class="quote-wrapper">
                        <div class="quotes">
                           When everyone else mysteriously vanishes from their wealthy town, the teen residents of West Ham must forge their own society to survive.
                        </div>
                     </div>
                     <br></br>
                  </div>
               </div>


               <div class="comments-area">

                  {% if data.count == 0 %}

                  <h4> No comments yet! </h4>

                  {% else %}

                  <h4> {{ data.count }} Comments </h4>

                  <div id="commentSection">
                     <!-- json -->
                  </div>

                  {% endif %}

               </div>

               {% if user.is_authenticated %}

               <div class="comment-form">
                  <h4>Leave a comment</h4>
                  <form class="form-contact comment_form" method="POST" id="commentForm">
                  {% csrf_token %}
                     <div class="row form-group">
                        <div class="col-12">
                           {{ form.content }}
                        </div>
                     </div>

                     <div class="form-group">
                        <button id="createComment" type="submit" class="button button-contactForm btn_1 boxed-btn">Send Message</button>
                     </div>
                  </form>
               </div>
               {% else %}
                  <h4> Try to log in or sign up to be able to leave a comment. </h4>
               {% endif %}
            </div>
{% endblock %}   
