<!DOCTYPE html>
{% extends "baseHappy.html" %}

    {% block content %}

    {% load static %}
   <!--================Blog Area =================-->
   <section class="blog_area single-post-area section-padding">
      <div class="container">
        <a class="d-inline-block">
            <h2>Recommendation of Indonesian Podcasts</h2>
        <div>
            <p>Podcasts are now increasingly favored by the public, especially millennials. 
            Besides being easy and flexible to access, podcasts can also provide a lot of knowledge and new points of view 
            and are certainly entertaining. In Indonesia, the development of podcasts has been quite rampant in the last two years.
            Well, here we are presenting entertaining Indonesian podcast recommendations that you must listen to that can filling your quarantine days.</p>
        </div>
        <br></br>
        <div class="row">
            <div class="col-lg-8 posts-list">
               <div class="single-post">
                  <div class="feature-img">
                    <iframe src="https://open.spotify.com/embed-podcast/show/6EmSBAixLaU1CwSu6gyujz" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                  </div>
                  <div class="blog_details">
                    <h2 id="h2-blog">PORD by Raditya Dika</h2>
                    <p class="excert">
                        The themes that are presented are about relatable life stories, stories of inspiration and knowledge. Delivered without a script but flowing as is makes this podcast suitable to accompany you in the middle of a traffic jam.
                    </p>
                    <br></br>
                  </div>
               </div>

               <div class="single-post">
                  <div class="feature-img">
                    <iframe src="https://open.spotify.com/embed-podcast/show/6KjdNWVqAzKwXv9IgO2SMs" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                  </div>
                  <div class="blog_details">
                    <h2 id="h2-blog">Do You See What I See by @mizter.popo</h2>
                    <p class="excert">
                        Do you like horror stories full of mysteries? If so, you can try listening to this podcast. This podcast, which is hosted by Mizter, presents a horror story that is compiled into several episodes. Interestingly, the mystery story is obtained by Mizter through the experiences of people who submit their stories.
                    </p>
                    <br></br>
                  </div>
               </div>

               <div class="single-post">
                  <div class="feature-img">
                    <iframe src="https://open.spotify.com/embed-podcast/show/0JXOf1JMa4UVqFCXw2ZCgF" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                  </div>
                  <div class="blog_details">
                    <h2 id="h2-blog">Rapot by Ankatama, Reza Chandika, Radhini Aprilya, dan Nastasha Abigail.</h2>
                    <p class="excert">
                        If you like listening to podcasts with light topics, you must try listening to the Rapot podcast! Podcasts hosted by Reza Chandika, Ankatama Ruyatna, Radhini Aprilya, and Natasha Abigail come with topics that are light, funny, and suitable for our daily lives.
                    </p>
                    <br></br>
                  </div>
               </div>

               <div class="single-post">
                  <div class="feature-img">
                    <iframe src="https://open.spotify.com/embed-podcast/show/5vHokTsTmdlLBs1uPgDGN6" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                  </div>
                  <div class="blog_details">
                    <h2 id="h2-blog">Rintik Sedu by @ntsana</h2>
                    <p class="excert">
                        The podcast owned by Nadhifa Allya Tsana, who works as a writer, has succeeded in dominating the top of the Indonesian podcast chart. Apart from Tsana's voice, the topics discussed were also very relatable, especially for millennials.
                        Topics discussed, such as feelings of confusion, heartbreak, dreams, and life, were packaged by Tsana in a neat way. Listening to this podcast feels like chatting and telling stories with Tsana. So relatable!
                    </p>
                    <br></br>
                  </div>
               </div>

               <div class="single-post">
                  <div class="feature-img">
                    <iframe src="https://open.spotify.com/embed-podcast/show/3RFdfcGgu088dyDTm24m8B" width="100%" height="232" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                  </div>
                  <div class="blog_details">
                    <h2 id="h2-blog">NgeTEST by COMPFEST</h2>
                    <p class="excert">
                        If you are interested in technology or want to learn about technology that is growing rapidly in the era of the industrial revolution 4.0, NGETEST by COMPFEST podcast is perfect for those of you who like small talk that educates us about today's technological developments!
                    </p>
                    <br></br>
                  </div>
               </div>

               <div class="single-post">
                    <a class="d-inline-block" href="https://www.buro247.my/culture/music/best-k-pop-comebacks-of-2020.html">
                        <p>Click reference here for more!</p>
                    </a>
                    <br></br>
               </div>

               <div class="comments-area">

                  {% if data.count == 0 %}

                  <h4> No comments yet! </h4>

                  {% else %}

                  <h4> {{ data.count }} Comments </h4>

                  <div id="commentSection-Podcast">
                     <!-- json -->
                  </div>

                  {% endif %}

               </div>

               {% if user.is_authenticated %}

               <div class="comment-form">
                  <h4>Leave a comment</h4>
                  <form class="form-contact comment_form" method="POST" id="commentForm">
                  {% csrf_token %}
                     <div class="row form-group">
                        <div class="col-12">
                           {{ form.content }}
                        </div>
                     </div>

                     <div class="form-group">
                        <button id="createComment-Podcast" type="submit" class="button button-contactForm btn_1 boxed-btn">Send Message</button>
                     </div>
                  </form>
               </div>
               {% else %}
                  <h4> Try to log in or sign up to be able to leave a comment. </h4>
               {% endif %}
            </div>
{% endblock %}   
