{% extends 'main/navbar.html' %}
{% load static %}

{% block meta %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/foryou.css' %}">
<title>History</title>

{% endblock meta %}

{% block content %}

<div class="container" id="header">
    <p id="headLeft3">
      Your Messages
    </p>
</div>

<div class="container" id="boxHistory">
    <p id=userHistory>
      User : {{ user.username }}
    </p>
    {% if messages %}

        {% for message in messages %}
          <hr id="batasHistory" width="50%">
          {% if message.sender == user.username %}
            <p id="listPesan">
              <p id=pesan>
                {{message.message}}
              </p>
              <p id="detail">
                <i class="fa fa-heart" id="like"> </i> {{message.like}} <br> 
                <i class="fa fa-send" id="like"> </i> {{message.date}}
              </p>
            </p>
            {% endif %}
          {% endfor %}
          <hr id="batasHistory" width="50%">

    {% else %}
        <p id="noPesan">
          no messages yet :(
        </p>
    {% endif %}
    <p id="thanks" class="back">
      <a href="{% url 'foryou:read' %}">
        back
      </a> 
    </p>
</div>

{% endblock content %}
