{% extends 'main/navbar.html' %}
{% load static %}

{% block meta %}

<link rel="stylesheet" href="{% static 'css/foryou.css' %}">
<title>For You!</title>

{% endblock meta %}

{% block content %}

<div class="container" id="header">    
  <div class="row">

    <div class="col" id="headLeft"> 
      <p id="headLeft1">
        For You
      </p>
      <p id="headLeft2">
        Imagine staying at home because of pandemic for several months. You must be feeling lonely, right?
        Dont worry, in this features you can found lots of friends by communicate each other!
        Even you can give motivational messages for the others who have the same condition as you!
        What are you waiting for? Lets give happiness to each other :) 
      </p>
    </div>

    <div class="col-md-4" id="headRight">
      <img src="{% static 'img/letter.png' %}" id="imgRight">
    </div>

  </div>
</div>

<div class="container" id="colMain">
  <div class="row">

    <div class="col">
      <a href="{% url 'foryou:read' %}">
        <button type="button" class="btn btn-danger">
          <p class="homeText">
            Click here
          </p>
        </button>
      </a>

      <p class="homeText" id="textBlue">
        to read your messages!!
      </p>
    </div>

    <div class="col-1">
      <p class="homeText" id="textBlue">
        or
      </p>
    </div>

    <div class="col" id="colRight">
      <a href="{% url 'foryou:send' %}">
        <button type="button" class="btn btn-danger">
          <p class="homeText">
            Click here
          </p>
        </button>
      </a>

      <p class="homeText" id="textBlue">
        to spread happiness around you!!
      </p>
      
    </div>
  </div>
  {% if not user.is_authenticated %}
  <p id="tips">
    *login for special features ^^
  </p>
  {% endif %}
</div>

{% endblock content %}
