<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Abril+Fatface">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Sans">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c">

	
	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

	<link rel="icon" href="{% static 'img/staces-logo.png' %}">
	<title>For You</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"> </script>
	{% block meta %}
	{% endblock meta %}

</head>
<body>


<div id="page-wrap">
	<!-- ==========================================================================================================
													   HERO
		 ========================================================================================================== -->

	<div id="">
		<nav class="navbar navbar-expand-lg navbar-light main-navbar-nav1">
			<a class="navbar-brand" href="">STACES</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
		  
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
			  <ul class="navbar-nav nav-items-center ml-auto mr-auto">
				<li class="nav-item">
					  <a class="nav-link" href="{% url 'home:index' %}">Home</a>
				</li>
				<li class="nav-item">
					  <a class="nav-link" href="{% url 'todo:index' %}">TO DO</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'happy:home' %}">Happy</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'learning:index' %}">Learning</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="{% url 'foryou:index' %}">For You<span class="sr-only">(current)</span></a>
				</li>
				{% if user.is_authenticated %}
					<a href="#">
						<div class="social-icons-header">
							<a href="/logout/">
								<button type="button" class="btn btn-md features-btn-first animated fadeInLeft wow ml-4" data-wow-delay="0.95s">Log Out</button>
							  </a>
						</div>
					</a>
					<span style="margin-top: 5px; margin-left: 10px; height: 40px; width: 40px; font-family: 'Josefin Sans'; font-size: 25px; text-align: center; background-color: #102542; border-radius: 50%; color: #fff;">{{ user.username.0 }}</span>
					{% else %}
					<a href="/#log-in">
						<div class="social-icons-header">
							<button class="btn btn-md features-btn-first animated fadeInLeft wow ml-4" data-wow-delay="0.95s">Log In</button>
						</div>
					</a>
					{% endif %}
			  </ul>
			</div>
		  </nav>
		
    </div> 
	
	{% block content %}
	{% endblock content %}

	<!-- ==========================================================================================================
                                               FOOTER
    ========================================================================================================== -->

	<footer class="footer-outer">
		<div class="container footer-inner">

			<div class="footer-three-grid wow fadeIn animated" data-wow-delay="0.66s">
				<div>
					<nav class="footer-nav">
						<ul>
							<h1 id="h1-footer"> STACES </h1>
							<p>By using our website, we hope that we helped you. Stay safe, stay healthy, and stay clean!<br>
							If there is any problem, please let we know.</p>
						</ul>
						<ul>
							<div class="social-icons-footer">
								<a target="_blank" href="https://instagram.com/stacesapp/"><i class="fab fa-instagram"></i></a>
								<a target="_blank" href="mailto: stacesapp@gmail.com"><i class="fa fa-envelope"></i></i></a>
							</div>
						</ul>
						<ul>
							<p class="copyright" id="p-copyright">Copyright © 2020. All Rights Reserved</p>
						</ul>
					</nav>
				</div>
			</div>
			<span></span>
			<p class="copyright"></p>
		</div>
	</footer>

</div> <!-- main page wrapper -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.js' %}"></script>
	<script src="{% static 'js/wow.min.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
</body>
</html>