{% extends 'main/navbar.html' %}
{% load static %}

{% block meta %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'css/foryou.css' %}">
<title>Read Messages</title>

{% endblock meta %}

{% block content %}
<div class="container" id="header">
    <p id="headLeft3">
      Read Messages
    </p>
</div>

<div class="slideshow-container">
    <div class="mySlides">
        <p id="nama">
            <span id="ava"></span>
        </p>
        <hr>
        <p id="pesan"></p>
        <div style="position: absolute;">
            <i class="fa fa-heart-o"></i>
            <i class="fa fa-heart" style="display: none;"></i>
            <div class="myCount"></div>
        </div>
        <a href="#" id="plus">
            <button type="button" class="btn btn-danger" id="addButton">
                +
            </button>
        </a>
    
    </div>

    <a class="prev">&#10094;</a>
    <a class="next">&#10095;</a>
    
</div>

<div id="boxThanks">
    {% if success %}
    <p id="thanks">
        thank you, your message has already sent :) 
    </p>
    {% endif %}

    {% if user.is_authenticated %}
        <p id="thanks">            
            see your <a href="{% url 'foryou:history' %}"> messages </a>
        </p>
    {% endif %}
</div>

<div id="read2" style="display: none;">
    
    <hr id="batas">
    <p id="form2">
        Name / Initial
    </p>
    <input name="name" placeholder="leave it blank to be Anonymous" class="in_n">
    <br>
    <br>
    <p id="form2">
        Messages
    </p>
    <p id="limit">
        (0/200)
    </p>
    <textarea placeholder="write something" name="message" required maxlength="200" rows="4" cols="65" class="in_m2"></textarea>
    <br>
    <button class="btn btn-danger" id="buttonSend2">
        <p class="sendButton">
            SEND
        </p>
    </button>

</div>
<p id="dummy">{{user.username}}</p>

<script src="{% static 'js/foryou.js' %}"></script>

{% endblock content %}
