@import url("https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800");
* {
  margin: 0px;
  padding: 0px;
}

a {
  font-family: "Alfa Slab One";
}

#h1-home {
  font-family: "Alfa Slab One";
  font-size: 100px;
}

#h1-footer {
  font-family: "Alfa Slab One";
  font-size: 40px;
}

#p-header {
  font-family: "Lobster";
  font-size: 30px;
}

#p-copyright {
  font-size: 17px;
}

#name-footer {
  font-family: "Josefin Sans";
  color: #29292e;
}

p, h2, h3, h4, h5 {
  font-family: "Josefin Sans";
  color: #fff;
  font-size: 17px;
}

html {
  overflow-x: hidden;
}


.features-btn-first {
  font-family: "Josefin Sans";
  font-weight: 700;
  background-color: #CDD7D6;
  color: #102542;
}

.features-btn-first:hover {
  background: #102542 !important;
  color: #FFFF !important;
}

#fh5co-hero-wrapper {
  height: 600px;
  width: 100%;
  background: url("../img/home.png") no-repeat center;
  background-position: center;
  background-size: cover;
}

.main-navbar-nav .navbar-brand {
  font-size: 35px;
  letter-spacing: 5px;
  position: absolute;
  font-weight: 500;
  padding: 10px auto;
  margin-left: 40px;
}

.main-navbar-nav1 .navbar-brand {
  font-size: 35px;
  letter-spacing: 5px;
  /* position: absolute; */
  font-weight: 500;
  padding: 10px auto;
  margin-left: 40px;
}

.main-navbar-nav {
  color: #fff !important;
  background-color: #B3A394;
  background-position: top;
  background-size: auto;
  height: 90px;
  box-sizing: border-box;
}

.main-navbar-nav1 {
  color: #fff !important;
  background-color: #B3A394;
  background-position: top;
  background-size: auto;
  /* height: 90px; */
  box-sizing: border-box;
  /* padding-left: 40px; */
}

.main-navbar-nav li {
  color: #fff;
  padding-left: 30px;
}

.main-navbar-nav1 li {
  color: #fff;
  padding-left: 30px;
}

.main-navbar-nav .navbar-nav .nav-item a:hover {
  color: #fff !important;
  -webkit-transition: all .33s ease;
  -moz-transition: all .33s ease;
  -o-transition: all .33s ease;
  -ms-transition: all .33s ease;
  transition: all .33s ease;
}

.main-navbar-nav1 .navbar-nav .nav-item a:hover {
  color: #fff !important;
  -webkit-transition: all .33s ease;
  -moz-transition: all .33s ease;
  -o-transition: all .33s ease;
  -ms-transition: all .33s ease;
  transition: all .33s ease;
}

.main-navbar-nav .active {
  color: #fff !important;
  opacity: 1 !important;
}

.main-navbar-nav1 .active {
  color: #fff !important;
  opacity: 1 !important;
}

.main-navbar-nav a {
  color: #102542 !important;
}

.main-navbar-nav1 a {
  color: #102542 !important;
}

.main-navbar-nav .active a {
  color: #fff !important;
}

.main-navbar-nav1 .active a {
  color: #fff !important;
}

.main-navbar-nav .nav-link {
  margin: 0 35px;
  font-size: 20px;
  font-weight: 500;
  font-family: "Josefin Sans";
}

.main-navbar-nav1 .nav-link {
  margin: 0 35px;
  font-size: 20px;
  font-weight: 500;
  font-family: "Josefin Sans";
}

#fh5co-about .fh5co-social-icons li a {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  color: #fff;
  background: #2F3C4F;
  padding: 10px 10px 2px 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 2px;
}

.social-icons-header a:hover i {
  opacity: .6;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  -ms-transition: all .2s ease;
  transition: all .2s ease;
}

.fh5co-hero-inner {
  margin-top: 110px;
  position: relative;
}
.fh5co-hero-inner > h1 {
  color: #fff;
  font-weight: 300;
  font-size: 55px;
  letter-spacing: 2px;
}
.fh5co-hero-inner > p {
  width: 400px;
  font-size: 14px;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 2em;
}
.fh5co-hero-inner .download-btn-first {
  font-size: 15px;
  padding: 10px 15px;
  font-weight: 700;
  color: #234197;
}
.fh5co-hero-inner .features-btn-first {
  font-size: 15px;
  padding: 8px 13px;
  font-weight: 400;
  background: #234197;
  color: #CDD7D6;
  margin-left: 10px;
}
.fh5co-hero-inner .fh5co-hero-smartphone {
  position: absolute;
  right: 0px;
  top: 120px;
  height: 650px;
}

#aboutLeft {
  padding-top:60px; 
  padding-bottom: 60px;
}

#aboutText1 {
  font-size: 100px; 
  font-family: Abril Fatface; 
  color: #102542;
}

#aboutText2 {
  color: #102542; 
  font-family: Josefin Sans; 
  font-size: 30px;
	text-shadow: 0px 2px grey;
}

input[type=submit] {
  font-family: "Roboto";
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #750077;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

#log-in {
  font-family: Abrit Fatface;
  color: #102542;
  margin-top: 30px;
  margin-bottom: 30px;
}

.to-register {
  color: #102542;
}

.to-register-ref{
  color: #102542;
}

.register {
  font-family: Abrit Fatface;
  color: #102542;
  margin-top: 20px;
  margin-bottom: 20px;
}

.register-btn {
  font-size: 20px;
  background-color: #102542;
  color: white;
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.register-input {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.register-title {
  font-size: 50px;
  font-weight: bold;
}

   /* ==========================================================================================================
										 FOOTER
   ========================================================================================================== */
.img-float-left {
  float: left;
}

.img-float-right {
  float: right;
}

.footer-outer {
  width: 100%;
  padding: 50px auto;
  background: #B3A394;
  background-size: auto;
  height: 330px;
  overflow: hidden;
}
.footer-outer .footer-inner {
  width: 100%;
  height: inherit;
}
.footer-outer .social-icons-footer i {
  margin: 15px;
  font-size: 30px;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
  color: #fff;
  background: #102542;
  padding: 10px 10px 10px 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  border-radius: 50%;
}
.footer-outer .social-icons-footer a:hover i {
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  -ms-transition: all .2s ease;
  transition: all .2s ease;
  background-color: #fff;
  color: #102542;
}
.footer-outer .footer-three-grid {
  width: 1140px;
  margin: 50px auto;
  margin-bottom: 80px;
  height: 50px;
  text-align: center;
}
.footer-outer .column-1-3 {
  width: 20%;
  float: left;
  height: 50px;
}
.footer-outer .column-1-3 h1 {
  font-size: 38px;
  letter-spacing: 3px;
  position: relative;
  top: -5px;
  font-weight: 600;
  color: #fff;
}

.footer-outer .column-3-3 {
  width: 20%;
  float: left;
  height: 50px;
}
.footer-outer .column-3-3 a {
  color: #29292e;
}
.footer-outer .column-3-3 .social-icons-header a:hover {
  color: #fff;
  opacity: 1;
  -webkit-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
.footer-outer .footer-nav ul {
  list-style: none;
  text-align: center;
}
.footer-outer .footer-nav ul li {
  display: inline-block;
  line-height: 50px;
  color: #b5b5c8;
  margin: 0 30px;
  font-size: 14px;
}
.footer-outer .footer-nav ul li:hover {
  color: #fff;
  -webkit-transition: color .2s ease-in-out;
  -o-transition: color .2s ease-in-out;
  transition: color .2s ease-in-out;
}
.footer-outer .footer-nav ul .active {
  color: #fff;
}
.footer-outer .footer-nav ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-outer .copyright {
  color: #102542;
  opacity: .6;
  text-align: center;
  font-size: 10px;
  padding: 40px auto;
}

.google-play-btn {
  margin-left: 10px;
}

/* ==========================================================================================================
                                       RESPONSIVE STYLING
  ========================================================================================================== */
@media screen and (max-width: 1400px) {
  body {
    overflow-x: hidden;
  }

  .fh5co-hero-inner .fh5co-hero-smartphone {
    position: absolute;
    right: 50px;
    top: 200px;
    height: 550px;
  }

  .curved-bg-div {
    background-position: 100% -20px;
  }

  .footer-outer .footer-three-grid {
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  body {
    overflow-x: hidden;
  }

  .fh5co-hero-inner .fh5co-hero-smartphone {
    position: absolute;
    right: -15px;
    top: 200px;
    height: 550px;
  }
}
@media screen and (max-width: 993px) {
  body {
    overflow-x: hidden;
  }

  #fh5co-hero-wrapper {
    height: 95vh;
  }

  .fh5co-hero-inner {
    margin-top: 30px;
  }

  .fh5co-hero-inner .fh5co-hero-smartphone {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 270px;
    height: 460px;
    margin-top: 110px;
  }

  .fh5co-features-outer {
    margin-top: -100px;
  }

  .fh5co-features-outer .sm-6-content p {
    width: 100%;
  }

  .footer-outer .footer-nav ul li {
    margin: 0 10px;
  }

  .footer-outer .social-icons-footer i {
    margin: 15px 10px;
    font-size: 20px;
  }
}
@media screen and (max-width: 993px) {
  .fh5co-features-grid-columns .col-sm-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 100%;
    width: 100%;
    max-width: 100%;
    margin: 30px auto;
    text-align: center;
  }

  .fh5co-features-outer .col-sm-6 .col-sm-image-container {
    position: relative;
    width: 295px !important;
    text-align: center;
    margin: 15px auto 0;
  }

  .no-float {
    float: none !important;
  }

  .img-float-right {
    float: none;
  }

  .img-float-left {
    float: none;
  }

  .fh5co-features-outer .col-sm-6 .span-percent, .fh5co-features-outer .col-sm-6 .span-free {
    left: -15px;
    bottom: 140px;
  }

  .fh5co-features-outer .col-sm-6 .span-new {
    right: -10px;
  }

  .fh5co-features-outer .col-sm-6 .span-data {
    right: -15px;
  }

  .fh5co-features-outer .col-sm-6 .circle {
    position: static;
    display: inline-block;
    margin: 25px 5px;
  }

  .fh5co-features-grid-columns {
    display: flex;
    flex-direction: column;
  }
  .fh5co-features-grid-columns .in-order-4 {
    order: 1;
  }
  .fh5co-features-grid-columns .in-order-3 {
    order: 2;
  }

  .fh5co-reviews-outer {
    padding: 0;
  }

  .navbar-light .navbar-toggler {
    color: #fff !important;
    border-color: #c7c7c7 !important;
  }

  .navbar-light .navbar-nav .nav-link {
    margin: 0;
    width: 100%;
  }

  .social-icons-header i:first-of-type {
    margin-right: 10px !important;
    margin-left: 0 !important;
    font-size: 30px;
  }
}
@media screen and (max-width: 800px) {
  .fh5co-hero-inner > h1 {
    color: #fff;
    font-weight: 300;
    font-size: 45px;
    letter-spacing: 2px;
  }

  #fh5co-hero-wrapper {
    height: 800px;
  }


  .fh5co-hero-inner .fh5co-hero-smartphone {
    height: 420px;
    top: 310px;
  }

  .fh5co-bottom-outer {
    margin-top: 40px;
    overflow: hidden;
  }

  .fh5co-bottom-outer .fh5co-bottom-inner {
    margin-top: 50px;
  }

  .fh5co-bottom-outer {
    background-position: center bottom;
    overflow: hidden;
    height: auto;
  }

  .fh5co-bottom-inner {
    overflow: hidden;
    padding-bottom: 50px;
    text-align: center;
  }

  .overlay {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    overflow-x: hidden;
  }

  .fh5co-bottom-outer .fh5co-bottom-inner .col-sm-6 p {
    width: 90%;
    margin: 0 auto;
  }

  .footer-outer {
    height: auto;
    padding: 20px;
  }

  .footer-outer .column-1-3 {
    width: 100%;
    float: none;
    height: auto;
    padding-top: 30px;
  }

  .footer-outer .column-2-3 {
    width: 100%;
    float: none;
    height: auto;
    padding: 0px auto;
  }

  .footer-outer .column-3-3 {
    width: 100%;
    float: left;
    height: auto;
    margin: 15px 0;
  }

  .footer-outer .copyright {
    margin-top: 30px;
    padding: 10px 0;
  }

  .footer-outer .border-bottom-footer {
    height: 1px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid #434769;
    display: block;
    margin-top: 100px;
  }
}
@media screen and (max-width: 520px) {
  #fh5co-hero-wrapper {
    height: 900px;
  }

  .fh5co-hero-inner > h1 {
    font-size: 40px;
  }

  .fh5co-hero-inner > p {
    width: 100%;
  }

  .fh5co-hero-inner {
    text-align: center;
  }

  .fh5co-hero-inner .fh5co-hero-smartphone {
    height: 450px;
    top: 420px;
    margin-top: 70px;
  }

  .social-icons-header i:first-of-type {
    font-size: 22px;
  }
}

/* ----------------------------------------- OUR FEATURES SECTION ---------------------------------------------*/
@media(min-width:768px) {
  .stace-features{
      font-size: 90px;
      text-align: center;
      padding-bottom: 50px;
      font-family: Abril Fatface;
  }

  .our-features {
      margin-left: 80px;
      margin-right: 80px;
  }

  .container-study {
      display: flex;
      padding-top: 50px;
  }

  .container-study div {
      padding: 10px;
  }

  .box-1-kiri {
      flex: 1;
      text-align: left;
  }

  .box-1-kanan {
      flex: 3;
  }

  .box-2-kanan {
      flex: 3;
      text-align: right;
  }

  .box-2-kiri {
      flex: 1;
      text-align: right;
      order: 1;
  }

  .box-1-kiri img, .box-2-kiri img{
      width: 80%;
  }
}

@media(min-width:1068px) {
  .our-features {
      margin-left: 180px;
      margin-right: 180px;
  }
}

@media(max-width:768px) {
  .stace-features{
      font-size: 60px;
      text-align: center;
      font-family: Abril Fatface; 
  }

  .our-features {
      margin-left: 50px;
      margin-right: 50px;
  }

  .container-study {
      padding-top: 50px;
  }

  .box-1-kiri, .box-2-kiri {
      text-align: center;
  }

  .box-1-kiri img, .box-2-kiri img{
      width: 30%;
  }
}

.study-space {
  color: white;
  background: #102542;
  margin: -8px;
  padding-top: 100px;
  padding-bottom: 100px;
}