/* Main Page */

#header {
  background-color: #102542; 
  max-width: none; 
  font-family: 'Abril Fatface'; 
  color: white;
}

#headLeft {
  padding-left: 10%; 
  padding-top: 80px; 
  padding-bottom: 80px;
}

#headLeft1 {
  font-size: 64px; 
  font-family: Abril Fatface;
}

#headLeft2 {
  font-size: 20px; 
  font-family: Josefin Sans;
}

#headRight {
  padding-top: 100px;
  text-align: center;
}

#imgRight {
  height: auto; 
  width: 50%;
}

#colMain {
  padding-top: 20px;
  height: 275px;
  padding: 70px 0;
  font-family: Abril Fatface;
}

#colRight {
  text-align: right;
}

#textBlue {
  margin-top: 10px;
  color: #102542;
}

@media(max-width: 992px) {
  #colMain {
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media(max-width: 768px) {
  #headRight {
    padding-top: 0%;
    padding-bottom: 5%;
  }
  #headLeft {
    width: 100%;
    padding-bottom: 5%;
    text-align: center;
  }

  #headLeft, #headRight {
    padding-left: 10px;
  }

  #imgRight {
    height: auto;
    width: 35%
  }

  #colMain {
    max-width: 100%;
  }
}

.homeText {
  font-weight: 550;
  font-size: 30px;
  font-family: Josefin Sans;
  margin-bottom: 0px;
}

.btn-danger {
  border-radius: 5px;
  background-color: #f87060;
  border-color: #f87060;
}

#tips {
  margin-top: 60px;
  font-size: 15px;
  color: #102542;
}

/* Read Page */

#nama {
  font-size: 20px;
}

#pesan {
  font-size: 30px;
  font-style: italic;
  margin-left: 30px;
  margin-right: 30px;
}

#nama, #pesan {
  color: #102542;
}

#addButton {
  border-radius: 50%; 
  font-size: 30px;
  padding: 0rem 0.7rem;
  font-family: 'M PLUS Rounded 1c';
  font-weight: 1000;
  position: absolute;
  right: 0px;
}

#ava {
  height: 25px;
  width: 25px;
  background-color: #f87060;
  border-radius: 50%;
  color: #fff;
  display: inline-block;
}

#avas {
  margin-top: 5px;
  margin-left: 10px;
  height: 30px;
  width: 40px;
  text-align: center;
  background-color: #102542;
  border-radius: 50%;
  color: #fff;
}

#oops {
  color: #102542;
  font-size: 20px;
  text-align: center;
}

#thanks {
  color: #102542;
  font-weight: bold;
}

#thanks > a {
  color: #102542;
  font-family: Josefin Sans;
}

#boxThanks {
  text-align: center;
}

.fa {
  font-size: 40px;
  cursor: pointer;
  user-select: none;
}


* {
  box-sizing: border-box
}

.mySlides {
  text-align: center;
}

#form2 {
  color: #102542;
  margin-bottom: 1px;
}

#dummy {
  color: white;
}

#batas {
  height: 1px; 
  margin: auto; 
  margin-bottom: 10px; 
  width: 98%; 
  background-color: #b3a394
}

/* Slideshow container */
.slideshow-container {
  width: 500px;
  position: relative;
  margin: auto;
  margin-top: 50px;
  color: #102542;
  margin-bottom: 100px;
  font-weight: bold;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}

/* Send Page */

#headLeft3 {
  font-size: 50px; 
  font-family: Abril Fatface;
  color: white;
  padding-top: 15px;
  margin-left: 3%;
  height: 100px;
}

#boxForm {
  background-color: #fff; 
  max-width: none; 
  margin-left: 3%;
  margin-top: 60px;
  margin-bottom: 50px;
  font-family: 'Abril Fatface'; 
  color: black;
  height: 300px;
  width: 66%;
}

#textSend {
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #102542;
  font-family: Josefin Sans;
}

#textHolder {
  font-family: Roboto;
}

#buttonSend {
  float: right;
}

.sendButton {
  margin: 0;
}

.in_n {
  width: 270px;
  font-family: Josefin Sans;
}
  
.in_m {
  width: 100%;
  font-family: Josefin Sans;
  height: 100px;
}

.in_m2 {
  font-family: Josefin Sans;
}

#read2 {
  text-align: center; 
  margin-bottom: 20px;
}

#limit {
  color: #102542;
  font-size: 12px;
  margin-bottom: 0px;
}

#limit2 {
  color: #102542;
  font-size: 15px;
  margin-bottom: 0px;
}

.messagesMain {
  margin-bottom: 0px !important;
}

/* History Page */
  
#boxHistory {
  background-color: #fff; 
  max-width: none; 
  text-align: center;
  margin-bottom: 50px;
  font-family: 'Abril Fatface'; 
}

#detail, #noPesan {
  color: #102542;
}

#listPesan {
  margin-bottom: 0px;
}

#userHistory {
  margin-top: 15px;
  font-size: 40px;
  font-weight: 500;
  color: #102542;
}

#pesan,  #noPesan {
  font-size: 30px;
  font-style: normal;
  margin-bottom: 0px;
}

#like {
  font-size: 15px;
}

.back {
  padding-top: 10px;
}

#batasHistory {
  color: lightgrey;
  background-color: lightgrey; 
  height: 1px; 
  margin: auto;
}