{% extends 'main/navfoot-todo.html' %}
{% load static %}

{% block meta %}
<title>TO DO - Add Task Page</title>
{% endblock meta %}

{% block title %}
<div id="fh5co-hero-wrapper-study-add-task">
{% endblock %}

{% block desc %}
<div class="animated fadeIn wow container todo-desc">
    <div class="todo-section-title">Create a New Task</div>
</div>
{% endblock %}

{% block content %}
<div class="animated fadeIn wow container content">
    <form method="POST" class="task-form">
        {% csrf_token %}

        <div class="field">
            <label for="title" class="label-field">Task Title</label>
            {{taskform.title}}
        </div>

        <div class="field">
            <label for="description" class="label-field">Task Description</label>
            {{taskform.description}}
        </div>

        <div class="field">
            <label for="category" class="label-field">Task Category</label>
            {{taskform.category}}
        </div>

        <div class="field">
            <label for="date" class="label-field">Deadline - Date</label>
            <input type="date" name="date" required>
        </div>

        <div class="field">
            <label for="time" class="label-field">Deadline - Time</label>
            <input type="time" name="time" required>
        </div>

        <button type="button" class="btn submit-button p-2">Create Task</button>

    </form>
</div>
{% endblock %}