{% extends 'main/navfoot.html' %}
{% load static %}
{% load widget_tweaks %}

{% block meta %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
{% endblock %}

{% block desc %}
<div class="animated fadeIn wow">
    <div class="container study-space-desc">
        <div class="study-section-title">Study Space</div>
        <p class="study-section-desc">You can go all over the world to study with 
            just a browser, but what matters is that do you know where the sources are? Find out more learning sources 
            based on categories that you want to know here. There will be a short description of each 
            source to help you find what you need before going to the actual site. Lastly, you can also 
            contribute to add another learning source that might help other people with their studies.</p>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container animated fadeIn wow">
    <div class="study-subsection-title">Explore Subjects</div>
    <div class="study-container">
        <div class="study-box-1"><a href="/learning/category/programming/"><img src="{% static 'img/programming.png' %}"></a></div>
        <div class="study-box-1"><a href="/learning/category/math/"><img src="{% static 'img/math.png' %}"></a></div>
        <div class="study-box-1"><a href="/learning/category/science/"><img src="{% static 'img/science.png' %}"></a></div>
    </div>
    <div class="study-container">
        <div class="study-box-1"><a href="/learning/category/language/"><img src="{% static 'img/language.png' %}"></a></div>
        <div class="study-box-1"><a href="/learning/category/business/"><img src="{% static 'img/business.png' %}"></a></div>
        <div class="study-box-1"><a href="/learning/category/others/"><img src="{% static 'img/others.png' %}"></a></div>
    </div>
    <br><br>

    <div class="d-flex flex-row justify-content-between">
        <div class="study-subsection-title bag-2" style="padding-top: 0;" >Preview</div>
        {% if user.is_authenticated %}
        <a style="padding-top: 10px;">
            <div class="btn submit-button-learning more-btn">View All</div>
        </a>
        {% endif %}
        
    </div>
  
    <div class="random first">
        <div class="row rowrandom">
        </div>
    </div>

    {% if user.is_authenticated %}
    <div class="all-body">
        <input type="search" placeholder="Search here" id="search-source" class="form-control" style="margin-bottom: 40px;">
        <div style="text-align: center;" class="desc-more note"></div>
        <div class="row all">
        </div>
        <div class="row search"></div>
    </div>

    <div class="study-subsection-title" style="padding-bottom: 0;">You Can Also Add Other Sources</div>
    <div class="pt-2 pl-2 pr-2 pb-5 col-md-3 study-site2" style="text-align: center; color: white;">
        <div style="text-align: center; color: #102542;" class="desc-more note2"></div>
        <a class="btn submit-button-learning p-2 form-control add-source-btn">Add Another Source</a>
    </div>

    {% include 'main/addSource.html' %}

    {% endif %}
</div>    
<br><br>

<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
<script src="{% static 'js/learning.js' %}"></script>
{% endblock %}
