<!DOCTYPE html>

{% extends 'main/navfoot.html' %}
{% load static %}

{% block meta %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
{% endblock %}

{% block title %}
<div id="fh5co-hero-wrapper-study-2">
{% endblock %}

{% block desc %}
<div class="animated fadeIn wow">
    <div class="container study-space-desc-2">
        <div class="study-section-title">{{query}}</div>
    </div>
    
</div>
{% endblock %}

{% block content %}

{% if not user.is_authenticated %}
<div class="animated fadeIn wow container content">
    <div class="warning">
        <div class="warning-title">
        Authentication Required
        </div>
        <div class="warning-description">
        Please <a href="/register/" class="to-register">sign up</a> or <a href="/#log-in" class="to-register">log in</a> first to access this feature
        </div>
        <div class="pt-2 pl-2 pr-2 pb-5 col-md-3 study-site" style="text-align: center; display: flex; margin-top: 1%; margin-bottom: -1%;">
            <a href="{% url 'learning:index' %}" class="btn submit-button-learning p-2">Back</a>
        </div>
    </div>
    
</div>
{% else %}


<div class="container animated fadeIn wow" style="padding-top: 50px;">

    <div class="query" style="display: none;">{{query}}</div>

    <div class="row more">
    </div>

    
    <div class="pt-2 pl-2 pr-2 pb-5 col-md-3 study-site2" style="text-align: center; margin-left: 1%; display: flex;">
        <a href="{% url 'learning:index' %}" class="btn submit-button-learning p-2 add-source-btn-back">Back</a>
    </div>
</div>
{% endif %}


<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
<script src="{% static 'js/learning.js' %}"></script>


{% endblock %}