#fh5co-hero-wrapper-study {
    width: 100%;
    height: 600px;
    background: url("../img/bg.png") no-repeat center;
    background-position: center;
    background-size: cover;
}

#fh5co-hero-wrapper-study-add-task {
    width: 100%;
    height: 400px;
    background: url("../img/bg.png") no-repeat center;
    background-position: center;
    background-size: cover;
}

#fh5co-hero-wrapper-study-2 {
    width: 100%;
    height: 400px;
    background: #102542;
    background-position: center;
    background-size: cover;
}

a:hover {
    color: #FFFFFF;
    text-decoration: none;
}

.add-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid#F87060;
    cursor: pointer;
    text-align: center;
    font-size: 30px;
    color: #F87060;
}

.home-btn {
    font-size: 30px;
    background-color: white;
    color: #F87060;
    cursor: pointer;
}

.content {
    font-family: Abril Fatface;
    margin-top: 20px;
    margin-bottom: 20px;
}

.field {
    font-family: Josefins Sans;
    font-weight: bold;
    color: #102542;
    margin-top: 10px;
    margin-bottom: 10px;
}

.label-field {
    font-size: 18px;
    color: #F87060;
    display: block;
}

.submit-button {
    font-family: Josefin Sans;
    font-weight: bold;
    background-color: #102542;
    color: white;
}

.task-categories {
    background-color: #CDD7D6;
    color: #102542;
    font-size: 20px;
    margin-bottom: 20px;
}

.task-category {
    color: #102542;
    cursor: pointer;
}

.task-detail {
    font-family: Josefin Sans;
    margin-bottom: 10px;
}

.task-name {
    color: #102542;
    font-size: 20px;
}

.task-description {
    color: #B3A394;
    font-size: 18px;
}

.task-datetime {
    color: #CDD7D6;
    font-weight: bold;
    font-size: 15px;
}

.todo-desc {
    color: white;
    font-family: Abril Fatface;
    margin-top: 75px;
    margin-bottom: 75px;
}

.todo-section-title{
    font-size: 100px;
}

.todo-logo {
    width: 200px;
    height: 250px;
}

.trash-btn {
    color: #B3A394;
    font-size: 20px;
}

.task-title {
    color: #F87060;
}

.to-register {
    color: #F87060;
}
.to-register:hover {
    color: #B3A394;
}

.trash-btn {
    cursor: pointer;
}

.warning {
    margin-top: 70px;
    margin-bottom: 70px;
}

.warning-title {
    font-size: 50px;
    color: #102542;
}

.warning-description {
    font-size: 20px;
    color: #F87060;
}

@media(max-width:768px) {
 .todo-logo {
     display: none;
 }
 
 .todo-section-title{
    font-size: 50px;
}
}